{%- comment -%} One project from _projects/, in the page's language. {%- endcomment -%}
{%- assign project = include.project -%}
{%- assign title = project.title[include.lang] | default: project.title -%}
<article class="card project">
  <h2><a href="{{ project.repo }}">{{ title }}</a></h2>
  <div class="body">{{ project.description[include.lang] | markdownify }}</div>
  {%- include tags.html tags=project.tags %}
  <div class="links">
    <a class="btn" href="{{ project.repo }}">{{ include.t.repository }}</a>
    {%- if project.homepage %}
    <a class="btn" href="{{ project.homepage }}">{{ include.t.website }}</a>
    {%- endif %}
  </div>
</article>
